[Desktop Entry]
Name=Info
Comment=GNU Info Page Reader
Comment[pl]=GNU przeglądarka stron info
Exec=info
Icon=gnome-info.png
Terminal=true
Type=Application
Encoding=UTF-8
Categories=ConsoleOnly;X-Help;
# vi: encoding=utf-8
