[Desktop Entry]
Name=Info
Comment=GNU Info Page Reader
Comment[pl]=GNU przeglądarka stron info
Exec=info
Icon=gnome-info.png
Terminal=1
Type=Application
# vi: encoding=utf-8
